.facture{
    margin: 1em;
    border:  1px dashed #f0f0f0;
    padding: 1em;
    border-radius: 5%;
    color:#f0f0f0;
}

.facture{
    color:#f0f0f0;
}

.facture h3{
    margin-top:5%;
    color:#f0f0f0;
    font-size: large;
    font-weight: 600;
}

.paye{
    background-color: #929484;
}
.nonPaye{
    background-color: #FF262E;
}