.itemFile{
    /* display: flex; */
    flex-direction: column;
    width: 200px;
    max-height: 200px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 10px;}

    .ant-upload-picture-card-wrapper{
        display: flex;
        width: auto;
    }