.ant-menu{
  /*  font-size: 1.2em;*/
  font-size: 18px;
}

.ant-menu-item {
    padding-left: 3px;
}

.headerLeft{
  display:flex;

}
.headerLeft h1{
  padding-left: 2em;
  font-size: 1.2em;
  line-height: 3em;
}

.price{
  float: right;
  font-weight: 600;
}

.mini .ant-menu-item .ant-menu-item-icon + span {
  display: none;
}
.mini .ant-menu-submenu-title .anticon + span {
    display: none;
}
ul.ant-menu.ant-menu-dark.mini.ant-menu-root.ant-menu-vertical-right{
  border:none;
}

.mini span.anticon {
  
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  width: 100%;
}